.item {
  height: 3rem;
  border: none;
  border-bottom: 1px solid #b9b9b9;
  display: block;
  width: 100%;
  background-color: #f0f2f5;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  padding-left: 2rem;
  padding-right: 1rem;

  &:hover {
    background-color: #d9fdd3;
  }
}

.selected {
  background-color: #00a884;
  color: #fff;

  &:hover {
    background-color: #00a884;
  }
}
