.nav {
  width: 100%;
  background-color: #00a884;
  padding: 1.2rem 0;
  display: block;
  box-shadow: 0 1px 5px 0 #a1a1a1;
}

.header {
  margin-left: 2rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff;
}

.logo {
  color: #fff;
}
