.form {
  width: 100%;
  display: flex;
  padding: 1.5rem;
  box-shadow: 0 0 3px 0 #a1a1a1;
}

.input {
  height: 3rem;
  padding: 0.375rem 0.8rem;
  flex-grow: 1;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-right: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: #212529;
    outline: 0;

    &::placeholder {
      font-size: 1rem;
      opacity: 0;
    }
  }

  &::placeholder {
    font-size: 1rem;
  }
}

.btn {
  height: 3rem;
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #00a884;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background-color: #008a6c;
  }
  &:active {
    transform: scale(0.97);
  }
  &:disabled {
    background-color: #bdbdbd;
    color: #212529;
    &:active {
      transform: none;
    }
  }
}
